:root {
  --background-color: #fafafa;
  --light-purple: #ae7eae;
  --purple: #965b9a;
  --dark-purple: #834f87;
  --gray: #4f4f4f;
  --dark-gray: #454545;

  --color-on-active: var(--purple);
  --color-on-hover: var(--dark-purple);
}

html, body {
  box-sizing: border-box;
  font-family: "AA Zuehlke", Arial, sans-serif;
  margin: 0;

  background-color: var(--background-color);
  accent-color: var(--color-on-active);
}

* {
  box-sizing: border-box;
}

button {
  color: white;
  background-color: var(--purple);
  border: none;
  border-radius: 4px;
  padding: 0.8rem 1.6rem;
  cursor: pointer;
  transition: box-shadow 0.1s ease-in, background-color 0.1s ease-in;
}

button:hover:not(:disabled), button:focus:not(:disabled) {
  background-color: var(--light-purple);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .14), 0 4px 5px 0 rgba(0, 0, 0, .12), 0 1px 10px 0 rgba(0, 0, 0, .2);
}

button:disabled {
  color: #c7bfbf;
  background-color: #888189;
  cursor: no-drop;
}

a {
  cursor: pointer;
}

input {
  padding: 0.6rem;
}

.embed-transition {
  view-transition-name: embed-transition;
}

@keyframes slide-to-right {
  to {
    translate: 100dvw 0;
    opacity: 0;
  }
}

@keyframes slide-to-left {
  to {
    translate: -100dvw 0;
    opacity: 0;
  }
}

@keyframes slide-from-right {
  from {
    translate: 100dvw 0;
    opacity: 0;
  }
}

@keyframes slide-from-left {
  from {
    translate: -100dvw 0;
    opacity: 0;
  }
}

@keyframes slide-from-bottom {
  from {
    translate: 0 100dvh;
    opacity: 0;
  }
}

@keyframes slide-to-bottom {
  to {
    translate: 0 100dvh;
    opacity: 0;
  }
}

::view-transition-old(root) {
  animation: slide-to-left 0.2s both;
}

::view-transition-new(root) {
  animation: slide-from-right 0.2s both;
}

.back-navigation::view-transition-old(root) {
  animation: slide-to-right 0.2s both;
}

.back-navigation::view-transition-new(root) {
  animation: slide-from-left 0.2s both;
}

::view-transition-old(embed-transition),
::view-transition-new(embed-transition) {
  animation: none;
  mix-blend-mode: normal;
  height: 100%;
  overflow: clip;
}

::view-transition-old(todo-info-block) {
  animation: slide-to-bottom 0.3s both;
}

::view-transition-new(todo-info-block) {
  animation: slide-from-bottom 0.3s both;
}
